*{ margin: 0;padding: 0;list-style: none;font-family: "微软雅黑";}
html{height:100%;}
html{font-size:62.5%;}
.resume{
  width: 6.38rem;
  font-family: "微软雅黑";
  margin: 0.5rem auto;
  /*border:2px solid black;*/
  overflow: hidden;
}
.resume_brief{
  width: 5.55rem;
  margin: 0px auto;
  overflow: hidden;
  /*border:2px solid pink;*/
}
.photo{
  width:1.3rem;
  height:1.78rem;
  border:1px solid gray;
  float:left;
}
.photo img{
  width:1.3rem;
  height:1.78rem;
  baackground-size:100% 100%;
}
.informtion1{
  width:1.68rem;
  height:1.78rem;
  margin-left:0.14rem;
  float: left;
}
.informtion2{
  width:2.03rem;
  height:1.78rem;
  float: left;
  margin-left:0.36rem;
}
.informtion1 ul{
  width: 1.82rem;
  height: 0.6rem;
  overflow: hidden;
  text-align:left;
}
.informtion2 ul{
  width: 2.0rem;
  height: 0.6rem;
  overflow: hidden;
  text-align:left;
}
.informtion1 ul .attr{
  width: 0.92rem;
  height:0.61rem;
  color:rgb(6,6,6);
  float:left;
}
.informtion2 ul .attr{
  width: 1.01rem;
  height:0.61rem;
  float:left;
}
.informtion1 ul .value{
  width: 0.77rem;
  height:0.61rem;
  color:rgba(165,165,165,1);
  float:left;
  text-align: left;
  text-indent: 0.11rem;
}
.informtion2 ul .value{
  width: 0.99rem;
  height:0.61rem;
  float:left;
  color:rgba(165,165,165,1);
  text-align: left;
  text-indent: 0.12rem;
}
.instruction{
  width: 5.55rem;
  height: auto;
  margin: 0.1rem auto;
  overflow: hidden;
  color:rgba(165,165,165,1);
  /*border:1px solid black;*/
}
.attr{
  font-size: 0.22rem;
  line-height: 0.6rem;
  font-weight: 400;
}
.value{
  font-size: 0.21rem;
  line-height: 0.6rem;
}
.instruction{
  font-size: 0.22rem;
  line-height: 0.42rem;
  text-indent: 0.3rem;
}